/* Default color definitions for OnCalendar */

$font_color: rgb(0, 0, 0);
$font_color_dim: rgba(0, 0, 0, 0.5);
$font_color_reverse: rgb(245, 245, 245);
$font_color_menu_reverse: rgba(245, 245, 245, 0.5);
$body_bg: rgb(42, 70, 97);
$container_bg: rgba(255, 255, 255, 0.9);
$page_dim: rgba(0, 0, 0, 0.75);
$dialog_bg: rgb(255, 255, 255);
$box_border: rgba(64, 64, 64, 0.75);
$button_selected: rgb(40, 70, 97);
$button_border: rgb(25, 25, 25);
$button_clicked: rgb(64, 64, 64);
$button_hover: rgba(40, 70, 97, 0.75);
$error: red;
$alert_border: rgb(255, 32, 32);
$alert_bg: rgba(255, 32, 32, 0.5);
$info_border: rgb(32, 32, 255);
$info_bg: rgba(32, 32, 255, 0.5);
$calendar_day_bg: rgba(42, 70, 97, 0.1);
$today_bg: rgba(220, 80, 80, 0.1);