** Monitoring System Notification **

Notification Type:  {{ data.notification_type }}
Host Status:        {{ data.host_status }}
Hostname:           {{ data.hostname }}
Hostgroup:          {{ data.hostgroup }}
Notification Count: {{ data.notification_number }}
Duration:           {{ data.duration }}
Event Time:         {{ data.event_time }}
Event Info:         {{ data.info }}
Comments:
{{ data.comments }}