{% extends "main.js" %}

{% block page_script %}

document.addEventListener('group_info_loaded', function() {
    $.when(oncalendar.build_calendar({{ edit_year }}, {{ edit_month }}, '{{ edit_group }}')).then(function() {
        oncalendar.display_calendar_edit('{{ edit_group }}');
        $('div#working').remove();
    });
});

$('#prev-month-button').click(function() {
    oncalendar.go_to_prev_edit_month();
});
$('#next-month-button').click(function() {
    oncalendar.go_to_next_edit_month();
});

$('#calendar-header')
    .on('mouseover', '.prev-arrow-button', function() {
        $(this).removeClass('arrow_carrot-left_alt2').addClass('arrow_carrot-left_alt');
    })
    .on('mouseout', '.prev-arrow-button', function() {
        $(this).removeClass('arrow_carrot-left_alt').addClass('arrow_carrot-left_alt2');
    })
    .on('mouseover', '.next-arrow-button', function() {
        $(this).removeClass('arrow_carrot-right_alt2').addClass('arrow_carrot-right_alt');
    })
    .on('mouseout', '.next-arrow-button', function() {
        $(this).removeClass('arrow_carrot-right_alt').addClass('arrow_carrot-right_alt2');
    });

$('table#calendar-table').on('click', 'li.oncall-option', function() {
    var day_id = $(this).parent('ul').attr('data-day-id');
    $('button#' + day_id + '-oncall-label').text($(this).attr('data-victim'))
        .append('<span class="elegant_icons arrow_carrot-down"></span>');
    $('input#' + day_id + '-oncall').attr('value', $(this).attr('data-victim'));
}).on('click', 'li.shadow-option', function() {
    var day_id = $(this).parent('ul').attr('data-day-id');
    $('button#' + day_id + '-shadow-label').text($(this).attr('data-victim'))
        .append('<span class="elegant_icons arrow_carrot-down"></span>');
    $('input#' + day_id + '-shadow').attr('value', $(this).attr('data-victim'));
}).on('click', 'li.backup-option', function() {
    var day_id = $(this).parent('ul').attr('data-day-id');
    $('button#' + day_id + '-backup-label').text($(this).attr('data-victim'))
        .append('<span class="elegant_icons arrow_carrot-down"></span>');
    $('input#' + day_id + '-backup').attr('value', $(this).attr('data-victim'));
});

$('button#edit-month-cancel-button').click(function() {
    window.location.href='/calendar/' + oncalendar.current_year + '/' + oncalendar.real_month;
});

$('button#edit-month-save-button').click(function() {
    var reason_for_edit = $('textarea#edit-month-note').val();
    if (reason_for_edit.length < 3) {
        $('textarea#edit-month-note').addClass('missing-input').focus();
    } else {
        $(window).scrollTop(0);
        $('body').append('<div id="working"><span id="status-message"><h1>Working...</h1></span></div>');
        var month_data = {};
        month_data.filter_group = oncalendar.filter_group;
        month_data.note = reason_for_edit;
        month_data.days = {};
        $.each($('td'), function(index, element) {
            var day_id = $(element).attr('id');
            month_data.days[day_id] = {};
            var new_oncall = $(element).children('div.calendar-day-victims').children('input#' + day_id + '-oncall').attr('value');
            var old_oncall = $(element).children('div.calendar-day-victims').children('input#' + day_id + '-prev-oncall').attr('value');
            if (new_oncall !== old_oncall) {
                month_data.days[day_id].oncall = new_oncall;
                month_data.days[day_id].prev_oncall = old_oncall;
            }
            if ($(element).children('div.calendar-day-victims').has('input#' + day_id + '-shadow')) {
                var new_shadow = $(element).children('div.calendar-day-victims').children('input#' + day_id + '-shadow').attr('value');
                var old_shadow = $(element).children('div.calendar-day-victims').children('input#' + day_id + '-prev-shadow').attr('value');
                if (new_shadow !== old_shadow) {
                    month_data.days[day_id].shadow = new_shadow;
                    month_data.days[day_id].prev_shadow = old_shadow;
                }
            }
            if ($(element).children('div.calendar-day-victims').has('input#' + day_id + '-backup')) {
                var new_backup = $(element).children('div.calendar-day-victims').children('input#' + day_id + '-backup').attr('value');
                var old_backup = $(element).children('div.calendar-day-victims').children('input#' + day_id + '-prev-backup').attr('value');
                if (new_backup !== old_backup) {
                    month_data.days[day_id].backup = new_backup;
                    month_data.days[day_id].prev_backup = old_backup;
                }
            }
        });

        $.when(oncalendar.update_month(month_data)).then(function(data) {
            $('div#working').children('span').children('h1').text('Update complete');
            setTimeout(function() {
                $('div#working').addClass('transparent');
            }, 1000);
            setTimeout(function() {
                window.location.href='/calendar/' + oncalendar.current_year + '/' + oncalendar.real_month;
            }, 1250);
        });
    }
});

{% endblock %}