{% extends "main.js" %}
{% block page_script %}
$(document).ready(function() {

    verify_oncalendar();

    $('#admin-functions').on('click', 'li', function() {
        $('li.tab.selected').removeClass('selected');
        $(this).addClass('selected');
        $('div.tab-panel.active-panel').removeClass('active-panel');
        $('div#' + $(this).attr('data-target')).addClass('active-panel');
    });

});

function verify_oncalendar() {
    if (!oncalendar_admin.confirm_config()) {
        fix_configuration();
    }
    var db_status = oncalendar_admin.confirm_db();
    console.log(db_status);
    if (db_status !== 'ok') {
        if (db_status === 'noaccess') {
            fix_configuration();
        } else if (db_status === 'nodb') {
            $.magnificPopup.open({
                items: {
                    src: '#create-db-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    close: function() {
                        setTimeout(function() {
                            verify_oncalendar();
                        }, 1000);
                    }
                }
            });
            $('#create-db-button').click(function() {
                $.when(oncalendar_admin.create_db(
                    $('input#create-db-user-input').val(),
                    $('input#create-db-password-input').val()
                )).then(
                    function() {
                        $.magnificPopup.close();
                    },
                    function(data) {
                        $('div#create-db-mysql-credentials')
                            .prepend('<p>Unable to create database:</p>' +
                            '<p class="error-text">' + data[1] + '</p>');
                    }
                )
            });
        } else if (db_status === 'noinit'){
            $.magnificPopup.open({
                items: {
                    src: '#init-db-prompt-popup',
                    type: 'inline'
                },
                preloader: false,
                removalDelay: 300,
                mainClass: 'popup-animate',
                callbacks: {
                    close: function() {
                        setTimeout(function() {
                            verify_oncalendar();
                        }, 1000);
                    }
                }
            });
            $('span#init-db-button').click(function() {
                var force_init = $('input#init-db-force').val();
                $.when(oncalendar_admin.initialize_db(force_init)).then(
                    function() {
                        $.magnificPopup.close();
                    },
                    function(data) {
                        $('div#db-init-prompt')
                            .before('<p>Could not initialize database:</p>' +
                            '<p class="error-text">' + data[1] + '</p>');
                        if (data[0] == 1) {
                            $('div#db-init-prompt p').empty().text('Force Initialization?');
                            $('input#init-db-force').attr('value', 'yes');
                        }
                    }
                )
            })
        }
    } else {
        $.when(oncalendar_admin.populate_admin_console()).then(
            function() {
                $('#admin-console').removeClass('hidden');
            }
        );
    }
}

function fix_configuration() {
    if (typeof oncalendar_admin.config_data !== "undefined") {
        $('input#config-popup-dbhost-input').attr('value', oncalendar_admin.config_data.DBHOST);
        $('input#config-popup-dbuser-input').attr('value', oncalendar_admin.config_data.DBUSER);
        $('input#config-popup-dbname-input').attr('value', oncalendar_admin.config_data.DBNAME);
    }

    $.magnificPopup.open({
        items: {
            src: '#create-config-popup',
            type: 'inline'
        },
        preloader: false,
        removalDelay: 300,
        mainClass: 'popup-animate',
        callbacks: {
            close: function() {
                setTimeout(function() {
                    verify_oncalendar();
                }, 1000);
            }
        }
    });

    $('#save-config-popup-edit').click(function() {
        var update_config_url = window.location.origin + '/api/admin/update_config';
        var new_config_data = {
            DBHOST: $('input#config-popup-dbhost-input').val(),
            DBUSER: $('input#config-popup-dbuser-input').val(),
            DBPASSWORD: $('input#config-popup-dbpassword-input').val(),
            DBNAME: $('input#config-popup-dbname-input').val()
        };
        var update_config = $.ajax({
                url: update_config_url,
                type: 'POST',
                data: new_config_data,
                dataType: 'json'
        });

        update_config.done(function() {
            $.magnificPopup.close();
        });

    });

}
{% endblock %}