<!DOCTYPE html>
<html>
  <head>
    <title>Box On-Call Calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet_url }}" />
    <script src="{{ jquery_url }}"></script>
    <script src="{{ datejs_url }}"></script>
    <script src="{{ bootstrapjs_url }}"></script>
    <script src="{{ magnific_url }}"></script>
    <script src="{{ jq_autocomplete_url }}"></script>
    <script src="{{ ocjs_url }}"></script>
    <script src="{{ colorwheel_url }}"></script>
  </head>

  <body>
    <div id="page-head" class="page-title">
      <div id="title"><h2>Box On-Call Calendar</h2></div>
      <div id="user-menu" class="user-menu dropdown">
        <span id="username" data-toggle="dropdown">{% if g.user.username is defined %} {{ g.user.username }} {% else %} anonymous {% endif %}</span>
        <span class="input-menu elegant_icons arrow_carrot-down" data-toggle="dropdown"> </span>
        <ul id="user-dropdown" class="dropdown-menu" role="menu">
          {% if g.user.is_anonymous() %}
          <li id="user-login"><span>Login</span></li>
          {% else %}
          <li id="user-logout"><span>Logout</span></li>
          <li id="edit-account-menu-option"><span>Edit My Info</span></li>
          {% endif %}
          {% if g.user.app_role == 2 %}
          <li id="oncalendar-admin"><span>OnCalendar Admin</span></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div id="calendar-container" class="outer-container">
      <div id="group-legend" class="inline"></div>
      <div id="group-options-bar" class="hide">
        <span id="group-oncall-container"></span>
        <span id="show-group-info-container">
          <button id="show-group-info-button" data-target="">Show Group Info</button>
        </span>
        <span id="edit-month-link-container">
          <button id="edit-month-button" data-target="">Edit Month By Day</button>
        </span>
        <span id="edit-by-week-link-container">
          <button id="edit-by-week-button" data-target="">Edit Month By Week</button>
        </span>
      </div>
      <div id="calendar-box" class="inner-container">
        <div id="calendar-header">
          <div id="prev-month-button" class="inline"><span class="prev-arrow-button elegant_icons arrow_carrot-left_alt2"></span></div>
          <div id="month-year" class="inline"><h3>Month Year</h3></div>
          <div id="next-month-button" class="inline"><span class="next-arrow-button elegant_icons arrow_carrot-right_alt2"></span></div>
        </div>
        <div id="calendar-table-container">
          <table id="calendar-table" class="calendar-table">
            <thead>
              <tr id="days-header">
                <th id="sunday" class="cal-days-head">Sunday</th>
                <th id="monday" class="cal-days-head">Monday</th>
                <th id="tuesday" class="cal-days-head">Tuesday</th>
                <th id="wednesday" class="cal-days-head">Wednesday</th>
                <th id="thursday" class="cal-days-head">Thursday</th>
                <th id="friday" class="cal-days-head">Friday</th>
                <th id="saturday" class="cal-days-head">Saturday</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>

    <div id="group-info-box-popup" class="popup mfp-hide">
      <div id="group-info-box-head">
        <h2></h2>
        <button id="edit-group-info" class="elegant_icons icon_pencil-edit hide" data-target=""></button>
      </div>
      <div id="group-info-box-info">
        <table id="group-info-data">
          <thead>
          <tr>
            <th>Turnover Day</th>
            <th>Turnover Time</th>
            <th>Email</th>
            <th>Auto-Rotation</th>
            <th>Oncall Shadowing</th>
            <th>Backup Oncall</th>
            <th>Current Oncall</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td id="group-turnover-day"></td>
            <td id="group-default-turnover-time"></td>
            <td id="group-email-address"></td>
            <td id="group-autorotate"></td>
            <td id="group-shadow"></td>
            <td id="group-backup"></td>
            <td id="group-current-oncall"></td>
          </tr>
          <tr>
            <th id="group-members-head" colspan=7>Members
              <button id="edit-members" class="button elegant_icons icon_pencil-edit hide" data-target="" data-groupid="" style="font-weight: normal;"></button>
            </th>
          </tr>
          <tr>
            <td id="group-members" colspan=7></td>
          </tr>
          <tr>
            <th id="group-edit-log-head" colspan="7" class="hide">Last Schedule Edit</th>
          </tr>
          <tr>
            <td id="group-edit-log" colspan="7" class="hide"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="edit-group-popup" class="oncalendar-edit-popup popup mfp-hide">
      <h3>Editing Group <span id="edit-group-info-title-name"></span></h3>
      <div id="edit-group-info-form">
        <table id="edit-group-info-table" class="admin-table">
          <tr>
            <td id="group-uneditable" colspan=3>
              <input type="hidden" id="edit-group-id" name="edit-group-id" value="">
              <input type="hidden" id="edit-group-name" name="edit-group-name" value="">
              <input type="hidden" id="edit-group-auth-group" name="edit-group-auth-group" value="">
              <input type="hidden" id="edit-group-autorotate" name="edit-group-autorotate" value="1">
            </td>
          </tr>
          <tr>
            <th>Turnover Day</th>
            <th>Turnover Time</th>
            <th></th>
          </tr>
          <tr>
            <td id="turnover-day-cell">
              <span id="edit-group-turnover-day-menu" class="dropdown">
                <span data-toggle="dropdown">
                    <button id="edit-group-turnover-day-label"></button>
                </span>
	              <ul id="edit-group-turnover-day-options" class="dropdown-menu" role="menu">
	                <li data-day="1"><span>Monday</span></li>
	                <li data-day="2"><span>Tuesday</span></li>
	                <li data-day="3"><span>Wednesday</span></li>
	                <li data-day="4"><span>Thursday</span></li>
	                <li data-day="5"><span>Friday</span></li>
	                <li data-day="6"><span>Saturday</span></li>
	                <li data-day="0"><span>Sunday</span></li>
	              </ul>
              </span>
              <input type="hidden" id="edit-group-turnover-day" name="edit-group-turnover-day" value="">
            </td>
            <td id="turnover-time-cell">
              <span id="edit-group-turnover-hour-menu" class="dropdown"><span data-toggle="dropdown">
                <button id="edit-group-turnover-hour-label"></button></span>
                <ul id="edit-group-turnover-hour-options" class="dropdown-menu" role="menu">
	                <li data-hour="00"><span>00</span></li>
	                <li data-hour="01"><span>01</span></li>
	                <li data-hour="02"><span>02</span></li>
	                <li data-hour="03"><span>03</span></li>
	                <li data-hour="04"><span>04</span></li>
	                <li data-hour="05"><span>05</span></li>
	                <li data-hour="06"><span>06</span></li>
	                <li data-hour="07"><span>07</span></li>
	                <li data-hour="08"><span>08</span></li>
	                <li data-hour="09"><span>09</span></li>
	                <li data-hour="10"><span>10</span></li>
	                <li data-hour="11"><span>11</span></li>
	                <li data-hour="12"><span>12</span></li>
	                <li data-hour="13"><span>13</span></li>
	                <li data-hour="14"><span>14</span></li>
	                <li data-hour="15"><span>15</span></li>
	                <li data-hour="16"><span>16</span></li>
	                <li data-hour="17"><span>17</span></li>
	                <li data-hour="18"><span>18</span></li>
	                <li data-hour="19"><span>19</span></li>
	                <li data-hour="20"><span>20</span></li>
	                <li data-hour="21"><span>21</span></li>
	                <li data-hour="22"><span>22</span></li>
	                <li data-hour="23"><span>23</span></li>
                </ul>
              </span>
              <input type="hidden" id="edit-group-turnover-hour" name="edit-group-turnover-hour" value="09" size="2">
              :<span id="edit-group-turnover-min-menu" class="dropdown">
                <span data-toggle="dropdown">
                    <button id="edit-group-turnover-min-label"></button>
                </span>
                <ul id="edit-group-turnover-min-options" class="dropdown-menu" role="menu">
                  <li data-min="00"><span>00</span></li>
                  <li data-min="30"><span>30</span></li>
                </ul>
              </span>
              <input type="hidden" id="edit-group-turnover-min" name="edit-group-turnover-min" value="30" size="2">
            </td>
            <td id="shadow-cell">
              <button id="edit-group-shadow-checkbox" class="oc-checkbox elegant_icons icon_box-empty" data-target="edit-group-shadow" data-checked="no"></button>
              Enable On-Call shadowing
              <input type="hidden" id="edit-group-shadow" name="add-group-shadow" value="0">
            </td>
          </tr>
          <tr>
            <td colspan=2></td>
            <td id="backup-cell">
              <button id="edit-group-backup-checkbox" class="oc-checkbox elegant_icons icon_box-empty" data-target="edit-group-backup" data-checked="no"></button>
              Enable Backup On-Call
              <input type="hidden" id="edit-group-backup" name="edit-group-backup" value="0">
            </td>
          </tr>
          <tr>
            <th>Email</th>
            <td colspan=2><input type="text" id="edit-group-email" name="edit-group-email" value="" size="40"></td>
          </tr>
{% if email_gateway %}
          <tr>
            <th>Pager Address</th>
            <td colspan=2><input type="text" id="edit-group-alias" name="edit-group-alias" value="" size="20">@oncall.inside-box.net</td>
          </tr>
          <tr>
            <th>Backup Pager</th>
            <td colspan=2><input type="text" id="edit-group-backup-alias" name="edit-group-backup-alias" value="" size="20">@oncall.inside-box.net</td>
          </tr>
          <tr>
            <th>Panic Pager</th>
            <td colspan=2><input type="text" id="edit-group-failsafe-alias" name="edit-group-failsafe-alias" value="" size="20">@oncall.inside-box.net</td>
          </tr>
{% endif %}
        </table>
        <button id="edit-group-cancel-button" class="button">Cancel</button>
        <button id="edit-group-save-button" class="button">Save</button>
      </div>
    </div>

    <div id="edit-group-victims-popup" class="popup mfp-hide">
	  <h3>Edit <span id="edit-group-victims-title-name"></span> Group Members</h3>
	  <div id="group-victims-list-form">
		<table id="group-victims-list-table" class="admin-table">
		  <tr>
		    <th>Remove</th>
		    <th>Active</th>
		    <th>Username</th>
		    <th>First Name</th>
		    <th>Last Name</th>
		    <th>Phone</th>
		    <th>Email</th>
		    <th>SMS Email</th>
		    <th></th>
		  </tr>
		  <tr>
		    <td></td>
		    <td></td>
		    <td>
		      <div id="victim-username-textbox">
		        <input type="hidden" id="victim-id" name="victim-id" value="0">
		        <input type="text" id="add-victim-username" class="autocomplete" name="add-victim-username" value="" size="20">
		      </div>
		    </td>
		    <td><input type="text" id="add-victim-firstname" name="add-victim-firstname" value="" size="20"></td>
		    <td><input type="text" id="add-victim-lastname" name="add-victim-lastname" value="" size="20"></td>
		    <td><input type="text" id="add-victim-phone" name="add-victim-phone" value="" size="20"></td>
		    <td><input type="text" id="add-victim-email" name="add-victim-email" value="" size="20"></td>
		    <td>
              <span id="add-victim-sms-email-menu" class="dropdown">
                <span data-toggle="dropdown">
                  <button id="add-victim-sms-email-label">--<span class="elegant_icons arrow_carrot-down"></span></button>
                </span>
                <ul id="add-victim-sms-email-options" class="dropdown-menu" role="menu"></ul>
              </span>
             <input type="hidden" id="add-victim-sms-email" name="add-victim-sms-email">
		    </td>
		    <td><button id="add-new-victim-save-button" class="button" title="Add user to group">Add</button></td>
		    <td colspan="5"></td>
		  </tr>
		</table>
	  </div>
    </div>

    <div id="edit-account-info-popup" class="popup mfp-hide">
      <h3>Account Info</h3>
      <div id="edit-account-info-form">
        <table id="account-info-table" class="admin-table">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>SMS Email</th>
            <th>Throttle Level</th>
            <th>Truncate SMS</th>
          </tr>
          <tr>
            <td><input type="text" id="edit-account-firstname" name="edit-account-firstname" value="" size="20"></td>
            <td><input type="text" id="edit-account-lastname" name="edit-account-lastname" value="" size="20"></td>
            <td><input type="text" id="edit-account-phone" name="edit-account-phone" value="" size="20"></td>
            <td><input type="text" id="edit-account-email" name="edit-account-email" value="" size="20"></td>
            <td>
              <span id="edit-account-sms-email-menu" class="dropdown">
                <span data-toggle="dropdown">
                  <button id="edit-account-sms-email-label">--<span class="elegant_icons arrow_carrot-down"></span></button>
                </span>
                <ul id="edit-account-sms-email-options" class="dropdown-menu" role="menu"></ul>
              </span>
              <input type="hidden" id="edit-account-sms-email" name="edit-account-sms-email">
            </td>
            <td><input type="text" id="edit-account-throttle" name="edit-account-throttle" value="" size="2"></td>
            <td>
              <button id="edit-account-truncate-checkbox" class="edit-account-truncate oc-checkbox elegant_icons icon_box-empty" data-target="edit-account-truncate" data-checked="no"></button>
              <input type="hidden" id="edit-account-truncate" name="edit-account-truncate" value="no">
            </td>
          </tr>
          <tr>
            <th>Group</th>
            <th>Active</th>
            <th colspan="5"></th>
          </tr>
        </table>
        <button id="edit-account-cancel-button" class="button">Cancel</button>
        <button id="edit-account-save-button" class="button">Save</button>
      </div>
    </div>

    <div id="edit-day-popup" class="popup mfp-hide send_sms_popup">
      <h3>Edit Day <span id="edit-day-group"></span></h3>
      <div id="edit-day-form">
        <table id="edit-day-slots-table" class="admin-table">
          <tr><th width="25%"><th width="25%"><th width="25%"><th width="25%"></th></tr>
        </table>
      </div>
      <div id="edit-day-note-box">
        <textarea id="edit-day-note" name="edit-day-note" maxlength="1024" placeholder="Reason for or description of change"></textarea>
      </div>
      <div id="edit-day-action-buttons">
        <table style="width: 100%;">
          <tr>
            <td width="50%"></td>
            <td width="25%" align="right"><button id="edit-day-cancel-button">Cancel</button></td>
            <td width="25%" align="right"><button id="edit-day-save-button">Save</button></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="send-oncall-page-popup" class="popup mfp-hide send-sms-popup">
      <h3>Page Primary Oncall For <span id="page-primary-groupname"></span></h3>
      <div id="page-primary-form">
        <input type="hidden" id="oncall-page-originator" name="oncall-page-originator" value="">
        <input type="hidden" id="oncall-page-group" name="oncall-page-group" value="">
        <textarea id="page-primary-body" class="sms-text-entry" name="page-primary-body" value=""></textarea>
      </div>
      <div id="send-oncall-page-action-buttons">
        <span id="cancel-oncall-page"><button id="cancel-oncall-page-button">Cancel</button></span>
        <span><button id="send-oncall-page-button">Send</button></span>
      </div>
    </div>

    <div id="send-panic-page-popup" class="popup mfp-hide send-sms-popup">
      <h3>Send Panic Page to <span id="panic-page-groupname"></span></h3>
      <div id="panic-page-form">
        <input type="hidden" id="panic-page-originator" name="panic-page-originator" value="">
        <input type="hidden" id="panic-page-group" name="panic-page-group" value="">
        <textarea id="panic-page-body" class="sms-text-entry" name="panic-page-body" value=""></textarea>
      </div>
      <div id="send-panic-page-action-buttons">
        <span id="cancel-panic-page"><button id="cancel-panic-page-button">Cancel</button></span>
        <span id="send-panic-page"><button id="send-panic-page-button">Send Panic Page</button></span>
      </div>
    </div>

    <div id="working"><span id="status-message"><h1>Working...</h1></span></div>

    <script type="text/javascript">
      {{ main_js|safe }}
    </script>
  </body>
</html>
