** Monitoring System Notification **

Notification Type:  {{ data.notification_type }}
Service Status:     {{ data.service_status }}
Service Name:       {{ data.service_name }}
Host:               {{ data.hostname }}
Notification Count: {{ data.notification_number }}
Duration:           {{ data.duration }}
Event Time:         {{ data.event_time }}
Event Info:         {{ data.info }}
Notes URL:          {{ data.notes_url }}
Comments:
{{ data.comments }}

