<html>
	<head>
        <style type="text/css">
            body {text-align: center; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 10pt;}
            table {text-align: center; margin-left: auto; margin-right: auto;}
            h2 {text-decoration: underline;}
            th {white-space: nowrap;}
            th.even {background-color: #D9D9D9; text-align: left;}
            td.even, th.odd {background-color: #F2F2F2; text-align: left;}
            td.odd {background-color: #FFF; text-align: left}
            td.type {text-align: left;}
        </style>
	</head>
	<body>
        <table width="600px">
            <tr><th colspan="2"><h2>Monitoring System Notification</h2></th></tr>
            <tr>
                <th width="180px" class="odd">Notification Type:</th>
                <td class="type" bgcolor="{{ color_map[data.notification_type] }}">{{ data.notification_type }}</td>
            </tr>
            <tr><th class="even">Service Status:</th><td class="even">{{ data.service_status }}</td></tr>
            <tr><th class="odd">Service Name:</th><td class="odd">{{ data.service }}</td></tr>
            <tr><th class="even">Host:</th><td class="even">
                <a href="{{ host_query }}">{{ data.hostname }}</a>
            </td></tr>
	        <tr><th class="odd">Notification Count:</th><td class="odd">{{ data.notification_number }}</td></tr>
            <tr><th class="even">Duration:</th><td class="even">{{ data.duration }}</td></tr>
            <tr><th class="odd">Event Time:</th><td class="odd">{{ data.event_time }}</td></tr>
            <tr><th class="even">Event Info:</th><td class="even">
                <a href="{{ service_query }}">{{ data.info }}</a></td></tr>
            <tr><th class="odd">Notes URL:</th><td class="odd">
                <a href="{{ data.notes_url }}">{{ data.notes_url }}</a>
            </td></tr>
            <tr><th class="even">Comments:</th><td class="even">{{ data.comments }}</td></tr>
        </table>
	</body>
</html>